/* Style for tic tac toe */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #FCE38A;
}

#title {
    font-size: 3rem;
    font-weight: 700;
    color: #3F51B5;
}

#game-container {
    flex: 1;
    background-color: #FCE38A;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#instructions-and-new-game {
    display: flex;
    justify-content: space-between;
}

#instructions {
    color: #3F51B5;
}

button {
    color: #FF5722;
    background-color: #FCE38A;
    border: 2px solid;
    border-radius: 7px;
    padding: .5rem 1rem .5rem 1rem;
}

#player-info-and-gameboard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#gameboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-row {
    display: flex;
}

.board-square {
    display: block;
    padding: 0;
    width: 8rem;
    height: 8rem;
    border-radius: 0;
    font-size: 3rem;
    font-weight: 700;
    border-color: #FF5722;
    color:#3F51B5;
}

#player-info-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.player-info {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.player-name {
    color: #3F51B5;
}

dialog[open] {
    all: unset; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FCE38A;
    border: none;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    width: 300px;
    gap: 1rem;
  }

  #dialog-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
  }

  #dialog-header {
    font-size: 1.5rem;
    font-weight: 700;
    color: #3F51B5;
  }

  #dialog-subheader {
    color: #3F51B5;
  }
  
form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

input {
    background-color: #FCE38A;
    padding: .55rem;
    border: 2px solid #FF5722;
    color: #FF5722;
    border-radius: 6px;
    outline: none;
}

input::placeholder {
    color: #FF5722;
    opacity: 0.7;
}

input:focus {
    border-color: #3F51B5;
}

input:hover {
    border-color: #3F51B5;
}

.blur {
    filter: blur(5px);
}

#footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    background-color: #FCE38A;
}

#footer {
    color: #3F51B5;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #FF5722;
}